<div class='col-md-3 user-sidebar'>
	<h2>Your Groups</h2>
	<hr>

	{{#each user.memberships as |group|}}
	<div class='group-container'>
	<div class='group-pic text-center'><img class="test" src="http://placekitten.com/g/650/300"></div>
	<h3>{{group.name}}</h3>
	<p>{{group.members.length}} members</p>
	</div>
	{{/each}}


	<hr>
	<div class='sidebar-option'>{{#link-to 'groups.new'}}<img src='/assets/images/plus-grey.png'> Create a Group {{/link-to}}</div>
	<div class='sidebar-option'>{{#link-to 'groups.index'}}<img src='/assets/images/discover-grey.png'> Discover New Groups {{/link-to}}</div>
</div>