@import "bootstrap";
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,500,600,700';
@import 'forms';


body {
	background-color: $darker-white;
	font-family: 'Raleway', sans-serif;
	padding-top: 70px;
}

.navbar-default {
	background-color: white;
	height: 70px;
}

