.group-form {

	margin-top: 8.5%;
	border: 1px solid $light-grey;
	background: white;
	overflow: hidden;

	aside {
		float: left;
		width: 30%;
		margin-bottom: -99999px;
    	padding: 5% 5% 99999px 5%;
		border-right: 1px solid $light-grey;

		div {
			margin-bottom: 25%;
		}

		h2 {
			margin-top: 15% auto default auto;
			font-size: 18px;
			font-weight: 700;
		}

	}

	section {
	    margin-bottom: -99999px;
		padding: 5% 5% 99999px 5%;	    
		overflow: hidden;
	}

	h1 {
		font-size: 40px;
		margin: 0 0 5% 0;
	}

	label {
		margin-bottom: 3%;
	}

	.btn {
		width: 100%;
		margin: 2% 0 7.5% 0;
		background-color: $light-blue;
		font-weight: 700;
	}

	img {
		width: 35px;
		height: 35px;
	}
}

.user-form {
	background: white;
	margin-top: 12.5%;
	padding-bottom: 2.5%;
	border: 1px solid $light-grey;

	h1 {
		font-family:'Lobster', 'Play', sans-serif;
		font-size: 50px;
		margin-bottom: 4%;
	}

	input {
		margin-top: 10px;
	}

	form {
		margin-bottom: 8.5%;
	}

	.form-text {
		margin-bottom: 7.5%;
		font-size: 18px;
		font-weight: 700;
		color: $dark-grey;
	}

	.btn {
		width: 100%;
		margin-top: 10px;
		background-color: $light-blue;
		font-weight: 600;
	}

}

.form-panel {
	margin-top: 1.5%;
	padding-top: 2.5%;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: $dark-grey;
  font-weight: 600;
  text-align: center;
  height: 1.5em;
  &:before {
    content: '';
    background-color: $light-grey;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
 
    padding: 0 1em;
    line-height: 1.5em;
    color: $grey;
    background-color: white;
  }
}


.modal-logout {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 

    .modal-body{ 
    	padding: 0 !important;
    }

    button {
    	width: 100%;
    	height: 50px;
    	padding: none;
    	border: none;
    }
    hr {
    	background-color: black;
    	margin: 0 !important;
    }

}

