.navbar-default {
	background-color: white;
	height: 70px;

	form {
		margin-top: 20px;

		input {
			background-color: $darker-white;
			margin: auto;
			width: 60%;
		}
	}
}

.navbar-header {
	margin-top: 15px;
}

.navbar-brand a {
	font-family: 'Lobster', 'Raleway', sans-serif;
	font-size: 40px;
	color: black;
	text-decoration: none;
}

.navbar-right {
	margin-top: 15px;
	
	li{
		margin: 0 5px;
	}
}

.nav-icon {
	height: 25px;
	width: 25px;
}


