.user-sidebar {
	border: 1px solid $light-grey;
	margin-top: 5%;
	background-color: white;
	
}

.main {
	margin-top: 5%;
	
}

.test {
	border: 1px solid $light-grey;
	width: 99.5%;
	background-color: white;
}