.user-feed-container {
	margin-top: 3.5%;
	padding: 0 0.5%;
}

.user-feed-item {
	border: 1px solid $light-grey;
	padding: 2.5%;
	width: 99.5%;
	margin: 0 0 2.5% 0;
	background-color: white;

	.group-header {
		margin: -3px 0 0 11%;
		padding-bottom: 10px;
		font-size: 17px;
		font-weight: 700;
		color: $light-blue;

		small {
			font-size: 15px;
			color: $dark-grey;
		}
	}

	p {
		margin: 0 0 0 11%;
		color: $dark-grey;
	}

}

.event-name {
	clear: left;

	a {
		color: black;
	}
}

.event-descrip {
	clear: left;
}

.group-profile-pic {
  width: 50px;
  height: 50px;
  background: url('https://placekitten.com/650/300') no-repeat center;
  background-size: cover;
  display: inline-block;
  float: left;
}


.user-sidebar {
	border: 1px solid $light-grey;
	margin-top: 3.5%;
	padding: 0 0 1.5% 0;
	background-color: white;

	h2 {
		margin: 10px 2.5%;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}

	hr {
		margin: 17.5px auto;
		width: 95%
	}


}


.group-container {
	margin: 5% 0 5% 0;

	.group-pic {
		width: 100%;
		overflow: hidden;
		height: 127px;

		img {
			width: 95%;
		}
	}

	h3 {
		margin: 1.5% 0 0 2.5%;
		font-size: 17px;
		font-weight: 700;
		color: $light-blue;
	}

	p {
		margin: 0 0 10% 2.5%;
	}
}

.sidebar-option {
	margin: 7.5% 0 3.5% 0;
	font-size: 17px;
	line-height: 130%;
	a {
		text-decoration: none;
		color: black;
		margin-left: 2.5%;

			img {
			width: 30px;
			height: 30px;
			margin-right: 5px;
			vertical-align: text-bottom;
		}
	}
}


