<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
	<div class='container'>
		<div class='row'>

			<div class='col-md-4'>
			    <div class='navbar-header'>
			      <div class='navbar-brand'>
			        {{#link-to 'index'}}Title Here{{/link-to}}
			      </div>
			    </div>
			</div>

			<div class='col-md-4'>
				<form>
		        	{{input type='text' value=search class='form-control text-center' placeholder='Search'}}
		    	</form>
			</div>

			{{#if session.isAuthenticated}}
			<div class='col-md-4'>
		      	<ul class="nav navbar-nav navbar-right">
		      		<li>{{#link-to 'groups.index'}}<img src='/assets/images/discover.png' class='nav-icon'>{{/link-to}}</li>
		      		<li>{{#link-to 'users.show' session.currentUser.uid}}<img src='/assets/images/user.png' class='nav-icon'>{{/link-to}}</li>
		      		<li style='margin-left: 15px;'><input type="image" src="/assets/images/logout.png" name="saveForm" data-toggle='modal' data-target='#logout-modal' id='log-out-icon' /></li>
	         	</ul>
			</div>
			{{/if}}

		</div>
	</div>
</nav>

<div class="modal fade" id='logout-modal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content modal-logout">
        		<div class="modal-body">
					<button class='btn btn-default' data-dismiss='modal' {{action 'signOut'}}> Log out </button>
					<hr>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          	</div>
      		</div>
        </div>
    </div>
</div>