<div class='row'>
	<div class='col-md-offset-3 col-md-6 text-center main'>
		<div class='test'>USER FEED HELL YEA</div>
		
	</div>

	<div class='col-md-3 text-center user-sidebar'>
		USER SIDE BAR HELL YEA
	</div>
</div>